
<!DOCTYPE html>
<html class="page-width"  >
<head>
  <style>
    body {
      background-color: black;
      color: white;
    }
    footer {
      filter: invert(1);
    }
    @media screen and (min-width: 750px) {
      .footer {
        margin: 0!important;
          
      }
      .footer__content-top .grid {
        row-gap: 6rem;
        margin-bottom: 0;
      }
    }
  </style>
  
</head>
<body class="page-width">
  {% section 'science' %}  
</body>
</html>
